:root {
  --main-color: #d1b000;
  --hover-main: #643a07;
  --hover-success: #3aac54;
  --green: #23d64d;
  --hover-error: #b63939;
  --border: #c9c9c9;
  --white: #ffffff;
  --backgroud: #383838;
  --hover-info: #457ef0;
  --header: #256eff;
  --background-button: #777777;
  --roboto: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ocultar la barra de desplazamiento en navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Ocultar la barra de desplazamiento en navegadores basados en Firefox */
/* Nota: Firefox no admite personalización de colores en la barra de desplazamiento */
/* Por lo tanto, la barra de desplazamiento se oculta pero se muestra en color gris por defecto */
body::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

body::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* Ocultar la barra de desplazamiento en navegadores basados en IE/Edge */
/* Nota: Microsoft Edge no admite personalización de colores en la barra de desplazamiento */
/* Por lo tanto, la barra de desplazamiento se oculta pero se muestra en color gris por defecto */
body::-ms-scrollbar {
  width: 8px; /* Tamaño del scroll en vertical */
  height: 8px; /* Tamaño del scroll en horizontal */
  display: none; /* Ocultar scroll */
}

body::-ms-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.MuiDrawer-paper {
  background-color: var(--main-color) !important;
  background-color: #0e1116 !important;
}

.column-container:nth-child(odd) {
  background-color: var(--border);
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

.MuiDataGrid-filterFormColumnInput {
  display: none !important;
}

.MuiDataGrid-filterFormOperatorInput {
  display: none !important;
}

.addCategory-button:hover {
  background-color: var(--main-color) !important;
}

.addCategory-modal-button:hover {
  background-color: var(--hover-success) !important;
}

.addAttribute-modal-button:hover {
  background-color: var(--hover-info) !important;
}

.cancelCategory-button:hover {
  background-color: var(--hover-error) !important;
}

.closeTag-button:hover {
  background-color: var(--hover-main);
  cursor: pointer;
}
/* 
.box-border{
    border: 1px solid var(--border);
    border-radius: 5px;
} */

.MuiDataGrid-filterFormOperatorInput {
  display: none !important;
}

.addCategory-modal-button:hover {
  background-color: var(--hover-success) !important;
}

.cancelCategory-button:hover {
  background-color: var(--hover-error) !important;
}

.addProduct-button:hover {
  background-color: var(--hover-success) !important;
}

.addProduct-modal-button:hover {
  background-color: var(--hover-success) !important;
}

.cancelProduct-button:hover {
  background-color: var(--hover-error) !important;
}

.closeTag-button:hover {
  background-color: var(--hover-main);
  cursor: pointer;
}
/* 
.box-border{
  border: 1px solid var(--border);
  border-radius: 5px;
} */

.box-border {
  border-radius: 5px;
}

.category-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
}

.product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 0.5rem 1rem 0.5rem 1rem !important;
}

.MuiDialog-paper {
  max-width: 700px !important;
}

.MuiDialogContent-root {
  width: 700px;
}

.floatingTags-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

/* .product-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: .5rem 1rem .5rem 1rem !important;
} */

.tags-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 300px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-radius: 30px;
  color: var(--white);
  width: auto;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  gap: 5px;
}

.addCategory-button {
  background-color: var(--background-button) !important;
}

.closeTag-button {
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  font-size: 16px;
  border-radius: 50px;
}

.categories-modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.product-modal-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.upload-files-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.files-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 268px !important;
}

.files-name-container input {
  width: 100px;
  height: 30px;
  border: 1px solid var(--border);
  border-radius: 5px;
  font-family: var(--roboto);
  font-size: 16px;
}

.iconImage-buttons {
  display: flex;
  justify-content: space-between !important;
  width: 270px;
  font-size: 4rem;
}

.cancelCategory-button {
  color: var(--white) !important;
}

.cancelCategory-button {
  color: var(--white) !important;
}

.cancelProduct-button {
  color: var(--white) !important;
}

.action-buttons {
  display: flex;
  justify-content: space-between !important;
  width: 318px;
}

.custom-input input {
  color: var(--white) !important;
}

.container-table {
  flex-direction: column !important;
  display: flex;
  align-items: center;
  justify-content: start;
  max-width: 1172px;
  height: 450px;
  margin: 0 auto;
  gap: .6;
  overflow-x: auto;

  @media (min-width: 200px) {
      margin-top: -10px;
  }
  
  @media (min-width: 300px) {
      margin-bottom: -400px;
  }
  
  @media (min-width: 375px) {
      margin-top: -120px;
  }
  
  @media (min-width: 412px) and (min-height: 600px),
  (min-width: 500px),
  (min-width: 800px) and (min-height: 900px),
  (min-width: 1024px) and (min-height: 600px) {
      max-width: 873px;
      max-height: 400px;
  }
  
  @media (min-width: 1024px) and (min-height: 800px) {
      max-width: 1200px;
      max-height: 400px;
      margin-bottom: -400px;
  }
}

.view-category-image {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  opacity: 0.7;
}
/* .container-view-category-icon{
    font-size: 20px;
    position: absolute;
    width: 70%;
    height: 65%;
    top: 55%;
} */

.container-view-category-icon {
  font-size: 20px;
  position: absolute;
  width: 70%;
  height: 65%;
  top: 55%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
/* .view-category-icon{
    font-size: 20px;
    position: absolute;
    width: 40%;
    height: 35%;
    top: 45%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
} */
.view-category-icon {
  width: 70%;
  height: 65%;
}

.MuiDataGrid-columnHeaders {
  background-color: var(--header);
}

.contrast-text {
  text-shadow: 1px 1px 1px #000;
}
.container-add-attributes {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.profile-container {
  margin-top: 15px;
  margin-left: 5%;
}

@media (max-width: 1250px) {
  .container-buttons-filter {
    width: 1130px !important;
  }
  .container-table {
    margin-left: 65px !important;
    margin-right: 35px !important;
  }
  .remove-filter {
    margin-left: -10px !important;
  }
  .remove-filter-category {
    margin-left: -15px !important;
  }

  .button-filter {
    margin-left: -10px !important;
  }
  .remove-filter-attributes {
    margin-left: -15px !important;
  }
  .remove-filter-product {
    margin-left: 10px !important;
  }
  .profile-container {
    margin-top: 40px;
    margin-left: 50px;
  }
}

@media (max-width: 710px) {
  .secundary-categories-container div {
    justify-content: space-between;
  }
  .view-category-container {
    width: 400px !important;
    height: 430px !important;
  }
}

@media (max-width: 680px) {
  .categories-container h4 {
    font-size: 20px;
  }
  .categories-container button {
    font-size: 12px;
  }
  .secundary-categories-container {
    max-height: 180px !important;
    flex-direction: row !important;
  }
  .secundary-categories-container div {
    display: flex;
    padding: 1px;
  }
  .tags-container {
    grid-template-columns: repeat(1, 1fr);
    width: 240px;
  }
  .category-form {
    /* width: 270px; */
    margin: 1rem 2rem 1rem 2rem;
  }
  .files-name-container {
    width: 225px !important;
  }
  .iconImage-buttons {
    width: 228px;
  }
  .action-buttons {
    width: 270px;
  }
  .profile-container {
    margin-top: 70px;
    margin-left: 45px;
  }
}

@media (max-width: 600px) {
  .container-table {
    margin-left: 40px !important;
    margin-right: 10px !important;
  }
  .profile-container {
    margin: 70px 40px 0;
  }
}

@media (max-width: 400px) {
  .container-table {
    margin-left: 50px !important;
  }
}

@media (max-width: 280px) {
  .categories-container h4 {
    margin-top: -30px;
  }
}

@media (max-width: 410px) {
  .categories-container h4 {
    margin-left: 20px;
  }
  .category-form {
    /* width: 230px; */
    margin: 1rem 0.4rem 1rem 0.4rem !important;
  }
  .secundary-categories-container div {
    flex-direction: column;
    font-family: 12px;
    gap: 10px;
    justify-content: center;
  }
  .files-name-container {
    width: 160px !important;
  }
  .iconImage-buttons {
    width: 160px;
  }
  .action-buttons {
    width: 220px;
  }

  .view-category-container {
    width: 300px !important;
    height: 400px !important;
  }

  /* .container-view-category-icon{
        width: 40%;
        height: 30%;
    } */
  /* .view-category-image{
        width: 100%;
        height: 65%;
    } */

  .view-category-image {
    width: 100%;
    height: 65%;
  }
  .view-category-icon {
    width: 40%;
    height: 30%;
  }
}

.container-table {
  flex-direction: column !important;
}

.view-category-image {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  opacity: 0.7;
}

.view-category-icon {
  width: 70%;
  height: 65%;
}

.view-product-image {
  width: 95%;
  height: 80%;
  border-radius: 5px;
  opacity: 0.7;
}

.view-product-icon {
  font-size: 20px;
  position: absolute;
  width: 40%;
  height: 35%;
  top: 45%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.MuiDataGrid-columnHeaders {
  background-color: var(--header);
}

.remove-filter-product {
  margin-left: 48px !important;
}

@media (max-width: 1250px) {
  .container-buttons-filter {
    width: 1130px !important;
  }
  .container-table {
    margin-left: 65px !important;
    margin-right: 35px !important;
  }
  .button-filter {
    margin-left: -10px !important;
  }
  .remove-filter-product {
    margin-left: 33px !important;
  }
}

@media (max-width: 780px) {
    .product-form {
      grid-template-columns: 1fr;
      width: 100%;
      margin: 0.5rem 0 !important;
    }
  
    .MuiDialog-paper {
      max-width: 600px !important;
    }
  
    .MuiDialog-paper {
      margin: 0px !important;
    }
}

@media (max-width: 710px) {
  .secundary-categories-container div {
    justify-content: space-between;
  }
  .view-category-container {
    width: 400px !important;
    height: 430px !important;
  }
}

@media (max-width: 600px) {
  .container-table {
    margin-left: 40px !important;
    margin-right: 10px !important;
  }
  .MuiDialogContent-root {
    width: 400px !important;
  }
}

@media (max-width: 400px) {
  .container-table {
    margin-left: 50px !important;
  }
}

@media (max-width: 680px) {
  .categories-container h4,
  .products-container h4 {
    font-size: 22px;
  }
  .categories-container button {
    font-size: 12px;
  }
  .product-container h4 {
    font-size: 24px;
  }
  .products-container button {
    font-size: 12px;
  }
  .secundary-categories-container {
    max-height: 180px !important;
    flex-direction: row !important;
  }
  .secundary-categories-container div {
    display: flex;
    padding: 1px;
  }
  .secundary-products-container {
    max-height: 180px !important;
    flex-direction: row !important;
  }
  .secundary-products-container div {
    display: flex;
    padding: 1px;
  }
  .tags-container {
    grid-template-columns: repeat(1, 1fr);
    width: 240px;
  }
  .category-form {
    /* width: 270px; */
    margin: 1rem 2rem 1rem 2rem;
  }
  .product-form {
    width: 270px;
    margin: 1rem 2rem 1rem 2rem;
  }
  .files-name-container {
    width: 225px !important;
  }
  .iconImage-buttons {
    width: 228px;
  }
  .action-buttons {
    width: 270px;
  }
}

@media (max-width: 410px) {
  .categories-container h4 {
    margin-left: 20px;
  }
  .category-form {
    /* width: 230px; */
    margin: 1rem 0.4rem 1rem 0.4rem !important;
  }
  .secundary-categories-container div {
    flex-direction: column;
    font-family: 12px;
    gap: 10px;
    justify-content: center;
  }
  .products-container h4 {
    margin-left: 20px;
  }
  .product-form {
    width: 230px;
    margin: 1rem 0.4rem 1rem 0.4rem !important;
  }
  .secundary-products-container div {
    flex-direction: column;
    font-family: 12px;
    gap: 10px;
    justify-content: center;
  }
  .files-name-container {
    width: 160px !important;
  }
  .iconImage-buttons {
    width: 160px;
  }
  .action-buttons {
    width: 220px;
  }

  .view-category-container {
    width: 300px !important;
    height: 400px !important;
  }
  .view-category-image {
    width: 100%;
    height: 65%;
  }
  .view-category-icon {
    width: 40%;
    height: 30%;
  }
  .view-product-container {
    width: 300px !important;
    height: 400px !important;
  }
  .view-product-image {
    width: 100%;
    height: 65%;
  }
  .view-product-icon {
    width: 40%;
    height: 30%;
  }
  .MuiDialogContent-root {
    width: 280px !important;
  }
}

/*CategoriesCards Styles */ 
.container-categoriesCards {
  margin: 0;
  position: relative;
  height: 375px;
  overflow: hidden;
}

.container-figure-img {
  display: block;
  position: relative;
  width: 100%;
  height: 375px;
  overflow: hidden;
}

.categoriesCards-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: none;
  border-top: none;
}

.main-container-categoriesCards-icon {
  transition: transform 0.3s ease;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.main-container-categoriesCards-icon:hover {
  background: rgba(63, 63, 62, 0.3);
}

.info-container-categoriesCards {
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info-container-categoriesCards:hover {
  transform: translateY(-5px);
}

.container-categoriesCards-icon {
  display: table;
}

.container-categoriesCards-content {
  display: table-cell;
  vertical-align: middle;
  padding: 0 50px;
  text-align: center;
}

.container-figure-icon {
  margin: 0;
}

.categoriesCards-icon {
  transition: transform 0.3s ease;
  height: 94px;
  width: auto;
  max-width: 100%;
}

.categoriesCards-text {
  transition: transform 0.3s ease;
  color: var(--white);
  background: none !important;
  display: inline-block;
  padding: 0;
  margin: 0 0 5px;
  white-space: nowrap;
  position: relative;
  font-size: 22px;
  line-height: 1.25;
  font-weight: 700;
  display: inline-block;
  width: 100%;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 90px 20px 20px 90px;
}

.about-container-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.logo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 16px;
  margin-bottom: 8px;
}
